# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# environnement virtuel
venv/
.env/
.venv/
env/

# =========================
# Flask
# =========================

instance/
.flaskenv

# =========================
# Fichiers temporaires
# =========================

tmp/
tmp/*

# =========================
# Uploads utilisateurs
# =========================

uploads/
uploads/*

# =========================
# Données runtime PixShare
# =========================

data/*.json

# =========================
# Logs
# =========================

*.log

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Backup
# =========================

templates_backup/
backup/
*.bak

# =========================
# Garder dossiers vides
# =========================

!uploads/.gitkeep
!tmp/.gitkeep
